.card {
    margin-top: 15px;
}
.card-header{
    font-weight: bolder;
}
.jumbotron{
    background: #0275d8;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 2rem 2rem;
}
.card{
    border-color: #0275d8;
}
.card-header{
    color:white;
    background: #0275d8;
}